{% extends '_base.html' %}
{% block title %}{{ section.title }}{% endblock title %}
{% block content %}

<div class="section-intro container grid-lg text-center">
    <h1>urocheck</h1>
    <h2>Ihr Assistent rund um den Besuch beim Urologen.</h2>
</div>

<div class="section-images container">
    <div class="columns">
        <div class="column col-md-2 hide-md"></div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-xs-10 col-md-3">
            <figure class="figure">
                <img class="img-responsive p-centered" src="{{ get_url(path='urocheck_anamnese.png', cachebust=true) }}"
                    alt="urocheck Krankengeschichte ausfüllen">
                <figcaption class="figure-caption text-center">1. Krankengeschichte ausfüllen</figcaption>
            </figure>
        </div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-xs-10 col-md-3">
            <figure class="figure">
                <img class="img-responsive p-centered" src="{{ get_url(path='urocheck_ams.png', cachebust=true) }}"
                    alt="urocheck AMS Fragebogen ausfüllen">
                <figcaption class="figure-caption text-center">2. Fragebogen ausfüllen</figcaption>
            </figure>
        </div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-xs-10 col-md-3">
            <figure class="figure">
                <img class="img-responsive p-centered" src="{{ get_url(path='urocheck_nfc.png', cachebust=true) }}"
                    alt="urocheck bereit für Datenübertragung per NFC">
                <figcaption class="figure-caption text-center">3. Bereit zur Übertragung per NFC</figcaption>
            </figure>
        </div>
        <div class="column col-xs-1 show-md"></div>
        <div class="column col-md-2 hide-md"></div>
    </div>
</div>

<div class="section-highlight bg-primary text-light text-center">
    <div class="container grid-lg">
        <h2>Funktionen</h2>
        <div class="text-left">
            <p class="text-secondary"><strong>urocheck </strong>erlaubt es Ihnen, bereits vor dem Arztbesuch für
                eine Diagnose notwendige Fragen in Ruhe zu beantworten. In der Arztpraxis können diese Daten dann
                direkt über <a href="https://de.wikipedia.org/wiki/Near_Field_Communication">NFC</a> an den Arzt
                übertragen werden.</p>
            <p class="text-secondary">Derzeit liegt der Fokus auf Testosteronmangelerkrankungen, insbesondere in
                Form einer Unterstützung für den <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC155679/">The
                    Aging Males' Symptoms (AMS) Fragebogen</a>. Unterstützung für weitere Krankheitsbilder sowie
                Darstellung von Untersuchungsergebnissen sind geplant.</p>
            <p class="text-secondary">Durch absichtlichen Verzicht auf Tracking und Auswertung von Nutzungsdaten
                behalten Sie die Kontrolle über Ihre Daten. Das heißt natürlich auch, dass wir auf Feedback und
                Fehlerberichte (bestenfalls im Play Store) angewiesen sind.</p>
        </div>
        <div class="column col-10 col-sm-12 col-mx-auto"><a class="btn btn-lg"
                href="https://play.google.com/store/apps/details?id=de.urocheckapp.mobile">Jetzt installieren</a>
        </div>
    </div>
</div>

{% endblock content %}